</body>
<footer>
<p>
    Made with <img src="images/003-unicorn-1 copy 2.png"/> and <img src="images/001-rainbow copy 2.png"/> by Sara Lutes 2022
</p>
<a href="https://github.com/saralutes">Github</a>
<br>
<a href="https://www.linkedin.com/in/sara-lutes-93b847176/">linkedin</a>
<br>
<a href="https://www.saralutes.com/">wwww.saralutes.com</a>
</footer>
</html>